.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.center-content {
    justify-content: center;
}

.flex.column-direction {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* CSS */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Monserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Monserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf)
}

@font-face {
    font-family: Impact;
    src: url(../fonts/impact/impact.ttf)
}

html {
    font-family: Monserrat, sans-serif;
    color: white;
    line-height: 1.25;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    cursor: pointer;
}

button {
    border: none;
    background-color: white;
    border-radius: 1rem;
}

input, select {
    border-radius: 1rem;
}

.logo {
    width: 133px;
    height: 22px;
}

.logo-footer {
    margin-top: 77px;
}

header {
    line-height: 66px;
    background-color: #ff7f00;
}

.nav-btn{
    color: white;
    font-size: 1.1875rem;
    margin-inline-end: 49px;
    cursor: pointer;
}

.nav-btn:hover {
    color: rgb(27, 26, 26);
    box-shadow: inset 0 -6px 0 rgb(27, 26, 26);
}

.pressed {
    color: rgb(27, 26, 26);
    box-shadow: inset 0 -6px 0 rgb(27, 26, 26);
}

footer {
    height: 207px;
    background-color: #ff7f00;
    text-align: center;
}

main {
    background-color: #e3e3e3;
}

.main-layout {
    max-width: 1200px;
    margin: auto;
}

.memgen-container {
    padding-top: 26px;
    padding-bottom: 23px;
    flex-wrap: wrap;
    display: none;
}

.canvas-container {
    max-width: 541px;
    padding-inline-end:30px;
    margin-inline-start: 50px;
}

.editor-area {
    width: 373px;
    height: 551px;
    padding-top: 5px;
    margin-inline-end: 50px;
}

.font-prefs {
    padding-top: 30px;
}

input[name=mem-text] {
    height: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.875rem;
    letter-spacing: 0.125rem;
    padding-inline-start: 20px;
    /* font-family: 'Courier New', Courier, monospace;
    font-family: 'Times New Roman', Times, serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.editor-btn {
    width: 60px;
    height: 60px;
    margin-top: 11px;
    background-color: white;
    text-align: center;
}

.ebtn-img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-font {
    max-width: 218px;
    height: 60px;
    font-size: 1.25em;
    padding: 1rem;
}

.app-btn {
    border-radius: 1rem;
    width: 120px;
    line-height: 60px;
    color: white;
    font-size: 1.125rem;
    background-color: #ff7f00;
    text-align: center;
}

input[type=color] {
    width: 0px;
    height: 0px;
    padding: 0;
    border: none;
    appearance: none;
    opacity: 0;
}

.select-font {
    align-self: flex-end;
}

.draw-area {
    background-color: chartreuse;
}

.stickers-area {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;
    margin-top: 30px;
}

.select-font {
    width: 220px;
}

.stickers-area img {
    width: 75px;
}

.selected {
    background-color: lightblue;
}

/* GALLERY */

.search-bar {
    height:102px;
    background-color: white;
}

.gallery {
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(353px, 1fr));
    gap: 21px;
}

.grid-item {
    min-width: 353;
    object-fit: cover;
    
    transition: all .15s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 1px 5px 20px 1px #b8935c;
}

.search-input {
    font-family: Monserrat-Medium, sans-serif;
    font-size: 1.1875rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-inline-start: 20px;
    border: none;
    border-bottom: 1px solid black;
}

.keywords {
    overflow: hidden;
    max-height: 35px;
}

.keyword {
    color: black;
    padding-inline-end: 30px;
    font-size: 1.1875rem;
    align-self: baseline;
    cursor: pointer;
    display: block;
   
}

@media (max-width: 1024px) {

    .main-layout {
        width: 100vw;
    }

    .gallery {
        grid-template-columns: repeat(2,  1fr);
    }

    .canvas-container {
       margin: 0;
    }
    
    .editor-area {
        margin:0;
    }

    .editor-area {
        width: 450px;
    }

}

@media (max-width: 500px) {

    .menu-btns {
        flex-direction: column;
    }

    .nav-btn {
        margin: 2px;
    }

    .keyword {
        font-size: 0.8rem;
       
    }

    .draw-area {
        width: 100vw; 
    }

    .canvas-container {
        padding: 0;
    }

    .editor-area {
        width: 100vw;
    }

    .stickers-area {
        order: -1;
    }

    .app-btn {
        align-self: center;;
    }

}

@media (max-width: 280) {

    .keyword {
        font-size: 0.5rem;
    }

}

